@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

nav, .spans {
    transition: all .2s ease;
}

.logo, .page-title , .sub {
    font-family: "Playfair Display", serif;
}

.showNav {
    transform: scaleY(1);
    transition: all .5s ease;
}

.disableScroll {
    overflow: hidden;
}

.hideFooter {
    display: none;
}

.spans span:nth-child(1) {
    transition: all .2s ease;
}

.spans span:nth-child(2) {
    transition: all .2s ease;
}

.spans span:nth-child(3) {
    transition: all .2s ease;
}

.x-shape span:nth-child(1) {
   transform: rotate(-45deg) translate(-8px, 8px);
   transition: all .2s ease;
}

.x-shape span:nth-child(2) {
    opacity: 0;
    transition: all .2s ease;
}

.x-shape span:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -9px);
    transition: all .2s ease;
}

/* benefits - how to create lemon water */

.benefits-ul {
    list-style-type: disc;
    padding: 0 1rem;
}


/* footer contact form */

.form h1 {
    font-family: "Playfair Display", serif;
}

.form input[type='text'], .form textarea {
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.form input[type='text']:focus,
 .form textarea:focus {
    border-bottom: 3px solid white;
}


/* testimonials user image */

.user-image {
    left: 50%;
    transform: translate(-50%, -50%);
}

/* join us form */

.join-form input[type='text'] {
    border-bottom: 1px solid #ff2c2c;
    background: transparent;
    outline: none;
    padding: .5rem;
}

.join-form input[type='text']:focus {
    border-bottom: 2px solid #ff2c2c;
}

/* icons */

.fa-brands {
    cursor: pointer;
}

/* up arrow */

.arrow-up {
    cursor: pointer;
}